{% extends 'base.html' %}

{% block content %}
<h3>Questions</h3>
<br>
{% for question in questions %}
<div class="col-md-12">
<p>user: {{ question.user }}</p>
<p>title: {{ question.title }}</p>
</div>
<hr>
{% endfor %}

{% endblock %}