<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-link" href="{% url 'core:home' %}">Home</a>
        <a class="nav-link" href="{% url 'core:question' %}">Questions</a>
        {% if not request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
        {% else %}
        <a class="nav-link" href="{% url 'accounts:dashboard' %}">Dashboard</a>
        <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        {% endif %}
    </div>
    </div>
</nav>